*.html
.renviron
.rprofile
.rproj
.rproj.user
.rhistory
.Rhistory
.rapp.history
.o
.sl
.so
.dylib
.a
.dll,
.def
.ds_store
unsrturl.bst
.log
.aux
.backups,
.cproject
.directory
.dropbox
.exrc
.gdb.history,
.gitattributes
.gitmodules
.hgtags
.project
.seed,
.settings
.tm_properties
devtools.R
.Rproj.user
inst/doc
./data
.clangd
/doc/
/Meta/
docs
_pkgdown.yml
compile_commands.json
inst/extdata/Meghan_batch1_test/L345R11.R1.fastq.gz
inst/extdata/Meghan_batch1_test/L345R12.R1.fastq.gz
*.idx
*.o
*.so
src/compile_commands.json
.vscode